spring.datasource.url=jdbc:mysql://localhost:3306/YOUR_DATABASE
spring.mail.username=YOUR GMAIL
spring.mail.password=YOUR GMAIL APP PASSWORD
spring.datasource.username=YOUR SQL USERNAME
spring.datasource.password=YOUR SQL PASSWORD
jwt.Secret=YOUR JWT SECRET KEY
jwt.Expiration=YOUR JWT EXPIRATION TIME IN MILLISECONDS